{% extends 'card.html' %}
{% block cardtitle %} Kick Player {% endblock %}
{% block cardcontent %}

<input id="steamid" class="form-control" type="text" placeholder="SteamId">
<p>
    <a id="kick" class="btn btn-primary">Kick</a>
</p>

<pre id="command_response"></pre>
<script>
    var command_ws = new WebSocket("ws://{{ ws_endpoint }}/command");
    command_ws.onmessage = function(event) { 
        $('#command_response').html(event.data.trim())
    }
    $('#kick').on('click', function(e) {
        var player_id = $('#steamid').val()
        command_ws.send(JSON.stringify({
            "cmd": "kick",
            "player_id": player_id
        }))
    })
</script>

{% endblock %}