{% extends 'card.html' %}
{% block cardtitle %} Players {% endblock %}
{% block cardcontent %}

</pre>
    <table id='players_messages'></table>
</pre>

<script>
    var players_ws = new WebSocket("ws://{{ ws_endpoint }}/players");
    players_ws.onmessage = function(event) {
        var table = document.getElementById('players_messages')
        var tr = document.createElement('tr')
        var td = document.createElement('td')
        table.innerText = ''
        table.innerHTML = ''
        td.innerHTML = event.data.trim()
        tr.appendChild(td)
        table.appendChild(tr)
    };
</script>
{% endblock %}