{% extends 'card.html' %}
{% block cardtitle %} Control ARK {% endblock %}
{% block cardcontent %}
<select id="select" class="form-select" aria-label="Select World">
    <option selected>Select World</option>
    <option value="TheIsland">TheIsland</option>
    <option value="Fjordur">Fjordur</option>
  </select>
<a id="start" class="btn btn-primary">Start</a>
<a id="stop" class="btn btn-primary">Save and Stop</a>
<a id="cancelshutdown" class="btn btn-primary">Cancel Shutdown</a>
<a id="logs" class="btn btn-primary">Logs</a>
<pre id="response"></pre>
<script>
    var start_ws = new ReconnectingWebSocket("ws://{{ ws_endpoint }}/command");
    start_ws.onmessage = function(event) { 
        $('#response').html(event.data.trim())
    }
    $('#start').on('click', function(e) {
        var selected = $('#select option:selected').text();
        start_ws.send(JSON.stringify({
            "cmd": "start",
            "world": selected
        }))
    })
    $('#stop').on('click', function(e) {
        start_ws.send(JSON.stringify({
            "cmd": "stop"
        }))
    })
    $('#cancelshutdown').on('click', function(e) {
        start_ws.send(JSON.stringify({
            "cmd": "cancelshutdown"
        }))
    })
    $('#logs').on('click', function(e) {
        start_ws.send(JSON.stringify({
            "cmd": "logs"
        }))
    })
</script>

{% endblock %}